* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Cal Sans", sans-serif;
}

/* header começo */

.container {
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    background-color: rgb(237, 252, 255);
}

.header {
    position: relative;
    display: flex;
    background-color: transparent;
    height: 120px;
    width: 100vw;
    justify-content: flex-end;
    align-items: center;
    background-color: #106282;
}

.header a {
    margin-right: 20px;
    text-decoration: none;
    color: white;
    transition: ease 0.5s;
}

.header a:hover {
    transform: scale(1.1);
}

.title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Cal Sans", sans-serif;
    font-size: 40px;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 5px #082f3e;
}

/* 
.menu-btn {
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 25px;
    background-color: #106282;
    color: white;
    cursor: pointer;
    margin-right: 30px;
    transition: ease 0.5s;
    text-shadow: 2px 2px 5px #082f3e;
}

.menu-btn:hover {
    transform: scale(1.2);
    text-shadow: 0 0 8px #00bfff, 0 0 12px #00bfff;
} */

/* header fim */

.container-section {
    display: flex;
    width: 100vw;
    height: 550px;
    align-items: center;
    justify-content: space-between;
    /* background-color: cyan; */
}

/* calc 1 começa -------------------------------- */
.calc-container {
    margin-top: 20px;
    display: flex;
    /* background-color: blue; */
    height: 100%;
    width: 50%;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.calc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.calc input, .calc button {
    width: 40%;
    height: 40%;
    margin-top: 20px;
    border-radius: 35px;
    font-size: 20px;
    border: 2.5px solid black;
    transition: ease 0.5s;
}

.calc input:hover, .calc button:hover {
    transform: scale(1.03);

}

.calc button {
    background-color:#082f3e;
    color: white;
}

.calc input::placeholder {
  text-align: center;
}

.calc label {
    font-size: 40px;

}

#camp1, #camp2, #camp3,#resultado {
    text-align: center;
}
/* calc 1 termina ----------------------------- */

/* calc 2 começa ------------------------------ */

.calc-container2 {
    margin-top: 20px;
    display: flex;
    height: 100%;
    width: 50%;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
}

.calcValue {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    gap: 15px;
}

.calcValue label {
    font-size: 40px;
    margin-bottom: 10px;
    text-align: center;
}

.calcValue input, .calcValue button {
    width: 400px;
    height: 80px;
    margin: 0 auto; 
    border-radius: 35px;
    margin-bottom: 10px;
    font-size: 18px;
    border: 2.5px solid black;
    transition: ease 0.5s;
}

.calcValue button {
    background-color: #082f3e;
    color: white;
}

.calcValue input::placeholder {
    text-align: center;
}

#Consumo, #Valor, #Tarifa {
    text-align: center;
}

.calcValue input:hover, .calcValue button:hover {
    transform: scale(1.03);
}

/* calc 2 termina -------------------- */

/* carrossel começo------------------------------- */

.carrossel {
    height: 100%;
    width: 100%;

}

.container-slider {
    display: flex;
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.container-images {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 800px;
    transition: transform 1.0s ease;
}

.slider {
    position: absolute;
    transition: opacity 1.0s;
    width: 100%;
    border-radius: 20px;
    opacity: 0;
    box-shadow: 8px 7px 24px -6px rgba(0,0,0,0.76);
    -webkit-box-shadow: 8px 7px 24px -6px rgba(0,0,0,0.76);
    -moz-box-shadow: 8px 7px 24px -6px rgba(0,0,0,0.76);
}

.container-images:hover {
    transform: scale(1.01);

}

.on {
    opacity: 1;
}

#prev-button, #next-button {
    width: 40px;
    height: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: transform 1.0s ease;
}

#prev-button:hover , #next-button:hover {
    transform: scale(1.1);

}

#prev-button img, #next-button img {
    width: 40px;
    height: 40px;
}


/* carrossel fim */


.article {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 250px;
}

.article img {
    width: 100%;
    height: 100%;
}




